.vscode/
.*.iml
.gradle
/local.properties
/.idea/
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.aider*
/.cache
/.kotlin/
.attach_pid*
app/backup-icons/
.vscode/

# Ignore transient files

logs/
*.txt
!metadata/**/*.txt
*.diff
*.sh

# --- System / OS Files --- Ignore macOS and Windows specific files
.DS_Store 
Thumbs.db

# Ignore Synology system directories globally
@eaDir/
\#recycle/

screenshots/
app/githubRelease/
