.vscode/
.*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.aider*
/.cache
/.kotlin/
.attach_pid*
app/backup-icons/
.vscode/
logs/

# --- System / OS Files --- Ignore macOS and Windows specific files
.DS_Store 
Thumbs.db

# Ignore Synology system directories globally
@eaDir/
\#recycle/

screenshots/
